:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Element CSS */
a {
  text-decoration: none;
  color: inherit;
}

/* Reusable CSS */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 12px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header CSS */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

nav .logo {
  width: 60px;
  height: 60px;
}

nav .nav_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.nav_parent {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
}

.nav_childerns {
  display: none;
}

nav .nav_links .nav_parent .nav_childerns {
  width: 190px;
  position: absolute;
  top: 20px;
  left: 0;
  border-radius: 12px;
  padding: 12px;
  background-color: rgb(157, 157, 210);
  z-index: 12;
}

.nav_parent:hover .nav_childerns,
.nav_childerns:hover {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

nav .menu-open,
nav .menu-close {
  display: none;
}

/* Responsive CSS */
@media (max-width: 780px) {
  nav .menu-open,
  nav .menu-close {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }

  nav .nav_links {
    width: 100%;
    height: 100%;
    padding: 12px;
    position: absolute;
    display: flex;
    top: 0;
    right: -100%;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: blue;
    color: white;
    transition: right 0.5s ease-in-out;
  }

  nav .show {
    right: 0;
  }

  .nav_links .menu-close {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}
